:root{
    --main-color:#8d4ff1;
    --black:#244361;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none !important;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-padding-top: 60px;
}

section{
    padding:20px 0;
}



section:nth-child(odd){
    background: #f8f8fe;
}

.heading{
    text-align: center;
    padding:0 15px;
    padding-bottom: 5px;
    color:var(--black);
    font-size: 30px;
}

.heading span{
    color:var(--main-color);
}

.link-btn{
    display: inline-block;
    background:var(--main-color);
    color:#fff;
    border-radius: 50px;
    padding:5px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.form-group{
    font-size: 20px;
}
.form-control{
    font-size: 20px;
}
#session{
    font-size: 20px;
}

.link-btn:hover{
    color:#fff;
    background:var(--black);
}

header{
    box-shadow: var(--box-shadow);
    background: #fff;
}

header .logo{
    font-size: 20px;
    color:var(--black);
}

header .logo span{
    color:var(--main-color);
}

header .nav a{
    margin-left: 3px;
    border-radius: 50px;
    color:var(--black);
    padding:5px 15px;
}

header .nav a.active,
header .nav a:hover{
    background: var(--main-color);
    box-shadow: var(--box-shadow);
    color:#fff;
}

#menu-bar{
    color:var(--black);
    cursor: pointer;
    font-size: 25px;
    transition: .2s linear;
}

.hbeat img{
    animation: hbeat 4s linear infinite;
}


/*--
@keyframes hbeat{
    0% { transform: scale(.65);}
    20% { transform: scale(.75);}
    40% { transform: scale(.65);}
    60% { transform: scale(.75);}
    80% { transform: scale(.65);}
    100% { transform: scale(.75);}
    
}  
--*/


.home{
    min-height: 100vh;
   
    background-position: center;
    background-size: cover;
    
    
}

.home .content span{
    color:var(--main-color);
    font-size: 20px;
    
}

.home .content h3{
    color:var(--black);
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
}

.about .content h3{
    color:var(--black);
    font-size: 33px;
}

.about .content p{
    color:#777;
    font-size: 14px;
}




.try {
    background: #f8f8fe;
}

.prevent .box{
    flex:1 1 300px;
    background: white;
    border-radius: 5px;
    text-align: center;
   
    
}

.prevent .box img{
    margin-bottom: 10px;
    height: 70px;

}

.prevent .box h3{
    color:var(--black);
    font-size: 20px;
}

.prevent .box p{
    color:var(--black);
    font-size: 14px;
}

.experts .box{
    width:280px;
    background:#fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin:5px;
    padding:15px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.experts .box img{
    background: #f8f8f8;;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 8px;
    height: 320px;
}

.experts .box h3{
    font-size: 22px;
    margin:2px 0;
    color:var(--black);
}

.experts .box span{
    font-size: 15px;
    color:var(--main-color);
}

.experts .box .share{
    position: absolute;
    top:5px; right: -50px;
    transition: .2s;
}

.experts .box:hover .share{
    right:15px;
}

.experts .box .share a{
    border-radius: 5px;
    background:var(--main-color);
    color:#fff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.experts .box .share a:hover{
    background:var(--black);
}



.link-btn-special{
    display: inline-block;
    background:rgb(20, 221, 97);
    color:#fff;
    border-radius: 50px;
    padding:5px 25px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.link-btn-special:hover{
    color:#fff;
    background:var(--black);
}







.blogs .box{
    width: 350px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    background:#fff;
}

.blogs .box .image{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background:#f8f8fe;
}

.blogs .box .image img{
    transition: .2s linear;
}

.blogs .box:hover .image img{
    transform: scale(1.1);
}

.blogs .box .content h3{
    padding:5px 0;
    font-size: 20px;
    color:var(--black);
}

.blogs .box .content .icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,.1);
}

.blogs .box .content .icons a{
    color:#777;
    font-size: 13px;
}

.blogs .box .content .icons a i{
    padding-right: 7px;
}


.blogs .box .content .icons a:hover{
    color:var(--main-color);
}

.quality{
    margin-top: 50px;
    background: #935af0!important;
    margin-bottom: 50px;

}

.video{
    background:#935af0;
    
}

.video p,h3{
    color: white;
    text-align: center;

}



.quality p{
    color: white;
    text-align: center;
}

.footer .box{
    flex:1 1 250px;
    text-align: center;
}

.footer .box h3{
    font-size: 20px;
    color:var(--black);
}

.footer .box a{
    display: block;
    font-size: 14px;
    color:#777;
    padding:5px 0;
}

.footer .box a:hover{
    color:var(--main-color);
}

.footer .credit{
    text-align: center;
    color:var(--black);
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 10px;
    padding-top: 20px;
}

.footer .credit span{
    color:var(--main-color);
}





/******************chat-lcon***********************
.chat_icon{
    float: right;
    width: 83%;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height:625px;
    overflow:auto;
}
**/



   
















/* media queries  */

@media (max-width:991px){

    .home .content h3{
        font-size: 30px;
    }

}

@media (max-width:768px){

    header .nav{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav a{
        display: block;
        width: 100%;
        margin:10px;
    }

    .fa-times{
        transform: rotate(180deg);
    }

}







/*--------------------------------sign-up------------------------------------------------*/
.sign-up{
    width: 500px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 10px;
    margin: auto ;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
}

.sign-up h1{
   color: #8d4ff1;
   margin-bottom: 30px;
}

.sign-up-ip{
   border-radius: 20px;
   padding: 10px;
   margin: 10px 10;
   width: 90%;
   border: 1px solid #8d4ff1;
   outline: none;

}

.cancelbtn{
   
   padding: 14px 20px;
   border-radius: 10px;
   border: 1px solid #8d4ff1;
   background: white;

}

.signupbtn{

   padding: 14px 20px;
   border-radius: 10px;
   border: 1px solid #8d4ff1;
   background: white;
   
}


